/*
    CSS FOR CHAT PAGE
*/
* {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding:0px;
    margin:0px;
    font-style: fixed;
    color:white; /* this color to change text color */
}
h1 {
    text-align: center; 
    font-size: x-large;
}
h2 {
    text-align: center;
}
p { 
    line-height:18px; 
    text-align: left;    
}
div { 
    width:500px; 
    margin-left:auto; 
    margin-right:auto;
}
myDiv {
    text-align: left;  
}
myDiv2 {
    text-align: right;
}
footer { 
    text-align: center;
}
#content { 
    padding:5px; 
    background:black; /*this color to change background of chat box */
    border-radius:5px;
    overflow-y: scroll; /*need*/
    border:1px solid #4f4f4f;
    margin-top:10px; 
    min-height: 91vh; 
    height: 91vh;
    /* min-width: 60vh; */
    width: 80vh;
    block-size: fit-content;
    
}
#input { 
    border-radius:2px; 
    border:1px solid #4f4f4f;
    margin-top:7px; 
    padding:5px; 
    width:400px;
    background-color: black;  
}
#status { 
    width:88px;
    display:block;
    float:left;
    margin-top:15px; 
}
body{
    background-color: #190061; /*background of chat screen*/
    overflow: hidden;
}
/* Add styles here to customize the appearance of your app */