/*
    CSS FOR CHAT PAGE
*/
* {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    padding:0px;
    margin:0px;
    font-style: fixed;
    color:white; /* this color to change text color */
}
html, body {
    /* height: 100%; */
    /* padding-top: 100px; */
}
p {
  text-align: center;
}
h1 {
    text-align: center; 
    font-size: x-large;
}
h2 {
    text-align: center;
}
div { 
    /* width:500px;  */
    /* position: relative; */
    margin-left:auto; 
    margin-right:auto;
    /* margin: auto; */
}
footer { 
    text-align: center;
}
#content {  
    padding: 0px; 
    background:black; /*this color to change background of chat box */
    background-color: #000000;
    /* background-image: linear-gradient(310deg, #04062e67 0%, #3110445b 74%); */
    background-image: linear-gradient(310deg, #050a7967 0%, #3110445b 74%);
    border-radius:5px;
    overflow-y: scroll; 
    border:1px solid #4f4f4f;
    /* height: max-content; */
    margin-top:15px; 
    /* min-height: 10vh; */
    height: 90vh;
    /* min-height: 10px; */
    /* min-width: 60vh; */
    /* max-width: 60vh; */
    /* width: 80vh; */
    margin: auto;
    margin-left: 5px; /*for some reason this is needed becayse of the scroll bar on the right*/
    margin-right: 5px;
    /* block-size: fill; */
}
#textEntry {
    margin: 5px;
    margin-top: 3px;
    width: 100%;
    padding: 10px;
    display: flex;
    position: absolute;
    bottom: 0;
}
#input { 
    border-radius:2px; 
    border:1px solid #4f4f4f;
    /* margin-top:7px;  */
    margin-top:-7px;
    padding:5px; 
    /* width:400px; */
    /* max-width: 700px; */
    /* min-width: 10px; */
    width: 100%;
    margin-right: 20px;
    /* text-align: center; */
    background-color: black;  
}
#status { 
    width: fit-content;
    /* display: inline-block; */
    min-width: 120px;
    padding-left: 0px;
    padding-right: 10px;
    display: inline;
    /* float:left; */
    /* margin-top:15px;  */
    /* margin-top: -5px; */
    text-align: center;
    /* white-space: nowrap; */
    /* overflow:visible; */
}

body {
    background-color: #0a0a0a; /*background of chat screen*/
    
    /* overflow: hidden; */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    background: #16082f;
}

::-webkit-scrollbar-thumb:hover {
    background: #220c47;
} 
/*Navbar stuff below*/
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: black;
    font-family: Arial;
    /* position: sticky; */
    /* top: 0px; */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(32, 30, 30);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(32, 30, 30);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    /* z-index: 1; */
  }
/* Add styles here to customize the appearance of your app */